$black: #000 !default;
$white: #fff !default;
$half-pixel: (.5px / 16px) * 1em !default;

@mixin arrow($dir) {
  $arrow: '<';
  $padding: 'right';

  @if $dir == 'right' {
    $arrow: '>';
    $padding: 'left';
  }
  color: $black;
  content: $arrow;
  display: block;
  font-weight: bolder;
  padding-#{$padding}: .25em;
  speak: none;
}

.calendar {
  box-sizing: border-box;

  button {
    background: none;
    border: 0;
    font-size: 1em;
  }

  // Header
  &__header {
    align-items: center;
    font-size: 1.5em;
    padding-bottom: .5em;
    padding-top: .5em;
    width: 100%;

  }

  &__nav {
    // Visibly hidden, so `px` OK
    color: transparent;
    display: block;
    height: 1px; // sass-lint:disable-line property-units
    overflow: hidden;
    width: 1px; // sass-lint:disable-line property-units
  }

  &__next,
  &__previous {
    text-decoration: none;

    &:hover {
      cursor: pointer;
    }
  }

  &__next {
    order: 1;

    &::before {
      @include arrow('right');
    }
  }

  &__previous {
    order: -1;

    &::after {
      @include arrow('left');
    }
  }
}
