<div class="calendar" aria-label="Calendar" role="application" tabindex="-1">

  <!-- Calendar Header -->
  <div class="calendar-header">
    <!-- Previous Month -->
    <button class="calendar__previous" :title="t(microcopy.previous)" @click.prevent="navigate('prev')" :aria-controls="tableID">
      <span class="calendar__nav">{{ t(microcopy.previous) }}</span>
    </button>
    <!-- Next Month -->
    <button class="calendar__next" :title="t(microcopy.next)" @click.prevent="navigate('next')" :aria-controls="tableID">
      <span class="calendar__nav">{{ t(microcopy.next) }}</span>
    </button>
    <!-- Visual Calendar Month -->
    <div :id="tableID" role="region" aria-live="polite" aria-atomic="true" aria-relevant="all">
      {{ calendar.current.string }}
    </div>
  </div>
  <!-- Calendar Body -->
  <table>
    <thead>
      <tr>
        <th v-for="day in days" :key="day.long">
          <span :title="day.long">{{day.short}}</span>
        </th>
      </tr>
    </thead>
    <tbody @keydown.left="calendarNav('prev', $event)" @keydown.right="calendarNav('next', $event)" @keydown.up="calendarNav('up', $event)" @keydown.down="calendarNav('down', $event)">
      <tr v-for="(week, weekIndex) in calendar.days" :key="'week--' + weekIndex">
        <td v-for="day in week" :key="day.string">
          <!-- Make only "active" or "1" focusable -->
          <button :class="(day.status || '') + (isSelected(day) ? ' selected' : '')" :tabindex="day.focusable ? 0 : -1" :data-day="day.day" :data-month="day.month" :data-year="day.year" :ref="'calendar'" :aria-label="day.string" @click.prevent="select" :aria-selected="isSelected(day) ? 'true' : 'false'">{{ day.dayString }}</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>