$black: #000 !default;
$white: #fff !default;
$border: 2px solid $black !default;
$outline-size: 2px !default;
$outline-color: #757575;
$size: 2.5em !default;

.datepicker {
  box-sizing: border-box;
  font-size: 1rem;
  position: relative;

  * { // sass-lint:disable-line no-universal-selectors
    box-sizing: border-box;
  }

  &__popup {
    display: none;
    left: 0;
    position: absolute;
    top: 3rem;
    width: 18.75em;

    &[data-state='open'] {
      display: block;
    }
  }

  &__calendar {
    background: $white;
  }

  &__cancel {
    background: $white;

    &:hover {
      cursor: pointer;
    }
  }
  
}
